@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #161616;
  position: relative;
}


::selection {
  background: none;
}



svg {
  -webkit-tap-highlight-color: blanchedalmond;
  user-select: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(34, 32, 37);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(232 222 221 / 73%);
  border-radius: 14px;
  border: 3px solid rgb(34, 32, 37);
}

.pong::after {
  animation: pong 0.8s ease-in-out forwards;
}

@keyframes pong {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  50% {
    top: -180%;
    opacity: 1;
  }

  100% {
    top: -200%;
    transform: scale(1.6);
    opacity: 0;
  }
}


.swiper-pagination-bullet {
  background-color: #8f8f8f !important;
}

.swiper-pagination-bullet-active {
  background-color: #161616cb !important;
}


.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  color: rgb(255, 255, 255);
  font-size: 35px !important;
  font-weight: 600;

}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  top: 0 !important;
  height: 100% !important;
  width: 40px !important;
  transition-duration: 300ms;
  background-color: #272727a2;
  margin: 0 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #272727d4;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}
.swiper-slide-thumb-active{
  border: 2px solid rgb(212, 110, 15) !important;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}