@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #161616;
}

.search_input {
  width: 75%;
  background-color: transparent;
  padding: 10px;
  margin-left: 35px;
  outline: none;
}

::selection {
  background: none;
}

.search_input_container {
  margin-top: 10px;
  border-bottom: white 1px solid;
  background-image: url('/svgs/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: 5% 50%;
  border-radius: 10px;
}

.inative-btn {
  @apply hover:bg-[#c18203] group-hover:bg-[#c18203] bg-[#996600]
}

svg {
  -webkit-tap-highlight-color: blanchedalmond;
  user-select: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(34, 32, 37);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(232 222 221 / 73%);
  border-radius: 14px;
  border: 3px solid rgb(34, 32, 37);
}

.pong::after {
  animation: pong 0.8s ease-in-out forwards;
}

@keyframes pong {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }



  50% {
    top: -180%;
    opacity: 1;
  }

  100% {
    top: -200%;
    transform: scale(1.6);
    opacity: 0;
  }
}
